
/* 
#content {
  }
  #content {
    }*/
/*    #content h3:first-child + p {
	  overflow: auto;
	} */
    #content h1:nth-of-type(2) + p a img {
	  float: none;
	  margin: 0px;
	  display: inline;
	  text-decoration: none;
	}
    #content p a {
	  color: inherit;
	  text-decoration: underline;
	}
  #content address {
    margin-top: -15px;
    margin-bottom: 20px;
    }
